.svg-banner21-dims {
	width: 60px;
	height: 60px;
}

.svg-banner22-dims {
	width: 60px;
	height: 60px;
}

.svg-banner23-dims {
	width: 60px;
	height: 60px;
}

.svg-f_email-dims {
	width: 15px;
	height: 15px;
}

.svg-f_phone-dims {
	width: 14px;
	height: 14px;
}

.svg-f_user-dims {
	width: 15px;
	height: 15px;
}

.svg-form1-dims {
	width: 43px;
	height: 43px;
}

.svg-form2-dims {
	width: 39px;
	height: 39px;
}

.svg-instagram-dims {
	width: 28px;
	height: 27px;
}

.svg-logo-dims {
	width: 126px;
	height: 38px;
}

.svg-plus-dims {
	width: 28px;
	height: 28px;
}

.svg-set11-dims {
	width: 47px;
	height: 47px;
}

.svg-set12-dims {
	width: 47px;
	height: 47px;
}

.svg-set13-dims {
	width: 54px;
	height: 54px;
}

.svg-set14-dims {
	width: 44px;
	height: 44px;
}

.svg-set21-dims {
	width: 46px;
	height: 46px;
}

.svg-set22-dims {
	width: 51px;
	height: 51px;
}

.svg-set23-dims {
	width: 53px;
	height: 53px;
}

.svg-set24-dims {
	width: 46px;
	height: 46px;
}

.svg-set25-dims {
	width: 45px;
	height: 45px;
}

.svg-set26-dims {
	width: 46px;
	height: 46px;
}

.svg-set31-dims {
	width: 42px;
	height: 42px;
}

.svg-set32-dims {
	width: 45px;
	height: 45px;
}

.svg-set33-dims {
	width: 41px;
	height: 42px;
}

.svg-set41-dims {
	width: 62px;
	height: 62px;
}

.svg-set42-dims {
	width: 74px;
	height: 54px;
}

.svg-set43-dims {
	width: 64px;
	height: 64px;
}

.svg-set44-dims {
	width: 63px;
	height: 63px;
}

.svg-set51-dims {
	width: 88px;
	height: 88px;
}

.svg-set52-dims {
	width: 88px;
	height: 88px;
}

.svg-set53-dims {
	width: 88px;
	height: 88px;
}

.svg-set54-dims {
	width: 99px;
	height: 99px;
}

.svg-set55-dims {
	width: 88px;
	height: 88px;
}

.svg-set56-dims {
	width: 84px;
	height: 84px;
}

.svg-set57-dims {
	width: 104px;
	height: 104px;
}

.svg-set58-dims {
	width: 99px;
	height: 99px;
}

.svg-vk-dims {
	width: 27px;
	height: 27px;
}

.svg-youtube-dims {
	width: 28px;
	height: 27px;
}

