.svg-f_email-dims {
	width: 15px;
	height: 15px;
}

.svg-f_phone-dims {
	width: 14px;
	height: 14px;
}

.svg-f_user-dims {
	width: 15px;
	height: 15px;
}

.svg-form1-dims {
	width: 43px;
	height: 43px;
}

.svg-form2-dims {
	width: 39px;
	height: 39px;
}

.svg-plus-dims {
	width: 28px;
	height: 28px;
}

.svg-set11-dims {
	width: 47px;
	height: 47px;
}

.svg-set12-dims {
	width: 47px;
	height: 47px;
}

.svg-set13-dims {
	width: 54px;
	height: 54px;
}

.svg-set14-dims {
	width: 44px;
	height: 44px;
}

.svg-set21-dims {
	width: 46px;
	height: 46px;
}

.svg-set22-dims {
	width: 51px;
	height: 51px;
}

.svg-set23-dims {
	width: 53px;
	height: 53px;
}

.svg-set24-dims {
	width: 46px;
	height: 46px;
}

.svg-set25-dims {
	width: 45px;
	height: 45px;
}

.svg-set26-dims {
	width: 46px;
	height: 46px;
}

