.svg-f_email-dims {
	width: 15px;
	height: 15px;
}

.svg-f_phone-dims {
	width: 14px;
	height: 14px;
}

.svg-f_user-dims {
	width: 15px;
	height: 15px;
}

.svg-form1-dims {
	width: 43px;
	height: 43px;
}

.svg-form2-dims {
	width: 39px;
	height: 39px;
}

