.carousel {
    position: relative;
    &__block {
        &__bg {
            position: relative;
            z-index: 50;
        }
        &__inner {
            position: relative;
        }
        &__content {
            @extend .container;
            position: absolute;
            z-index: 100;
            bottom: 30%;
            left: 0;
            right: 0;
            margin: 0 auto; 
        }
        &__title {
            @include borderedText();
            font-size: 36px;
            line-height: 44px;
            font-weight: bold;
            margin-bottom: 20px;
            font-family: 'Roboto Slab';
        }
        &__subtitle {
            @include borderedText();
            line-height: 28px;
            font-size: 24px;
            margin-bottom: 20px;
        }
    }
    .slick-dots {
        position: absolute;
        bottom: 27%;
        padding: 0 30px;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        li {
            padding: 0 15px;
            button {
                width: 17px;
                height: 17px;
                box-sizing: border-box;
                overflow: hidden;
                color: transparent;
                background: transparent;
                border: 1px solid transparent;
                border-radius: 100%;
                outline: none;
                cursor: pointer;
                position: relative;
                transition: .25s all ease;
                &::after {
                    width: 7px;
                    height: 7px;
                    content: '';
                    background: #fff;
                    position: absolute;
                    left: 4px;
                    top: 4px;
                    border-radius: 100%;
                }
            }
            &.slick-active {
                button {
                    border-color: #fff;
                }
            }
        }
    }
}

.banner2 {
    height: 85vh;
    width: 100%;
    background: url(../../img/banner2.jpg);
    background-size: cover;
    &__inner {
        @extend .container;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__title {
        @include borderedText();
        max-width: 860px;
        width: 100%;
        font-weight: bold;
        font-size: 48px;
        line-height: 55px;
        margin-bottom: 45px;
        font-family: 'Roboto Slab';
    }
    &__list {
        &__title {
            @include borderedText();
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 40px;
        }
        ul {
            display: flex;
            li {
                &:last-child {
                    .banner2 {
                        &__list {
                            &__block {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
        &__block {
            display: flex;
            align-items: center;
            margin-right: 100px;
            &__icon {
                margin-right: 10px;
                svg {
                    fill: $primary-color;
                }
            }
            &__text {
                @include borderedText(); 
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
            }
        }
    }
}

@media (max-width: 1560px) {
    .carousel {
        &__block {
            &__content {
                bottom: 50%;
            }
        }
        .slick-dots {
            bottom: 42%;
        }
    }
}

@media (max-width: $resp1200) {
    .carousel {
        &__block {
            &__content {
                bottom: 20%;
            }
        }
        .slick-dots {
            bottom: 10%;
        }
    }
    .banner2 {
        height: auto;
        padding: 50px 0;
    }
}

@media (max-width: $resp1025) {
    .banner2 {
        &__list {
            &__block {
                margin-right: 50px;
            }
        }
    }
}

@media (max-width: $resp768) {
    .carousel {
        &__block {
            &__inner {
                // height: 450px;
            }
            &__bg {
                height: 100%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    // max-width: 10000px;
                    // transform: translateX(-50%);
                }
            }
            &__title {
                font-size: 30px;
                line-height: 30px;
            }
            &__subtitle {
                line-height: 22px;
                font-size: 18px;
            }
        }
    }
    .banner2 {
        &__title {
            font-size: 28px;
            line-height: 30px;
        }
        &__list {
            &__title {
                font-size: 20px;
                margin-bottom: 20px;
            }
            ul {
                flex-wrap: wrap;
                li {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
            &__block {
                margin-right: 0;
                &__icon {
                    svg {
                        width: 40px;
                        height: 40px;
                    }
                }
                &__text {
                    font-size: 16px;
                }
            }
        }
    }
}