.index4 {
    background: url(../../img/index4_bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    &__inner {
        @extend .container;
    }
    &__block {
        display: flex;
        &__img {
            max-width: 450px;
        }
        &__content {
            max-width: calc(100% - 450px);
            background: #fff;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            padding: 20px 60px;
        }
        &__title {
            color: $dark;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 25px;
        }
        &__desc {
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
            color: #000;
            margin-bottom: 60px;
        }
    }
}

@media (max-width: $resp1025) {
    .index4 {
        &__block {
            &__img {
                width: auto;
                height: 100%;
                max-width: 300px;
            }
            &__content {
                max-width: calc(100% - 300px);
                padding-left: 30px;
                padding-right: 30px;
            }
            &__title {
                font-size: 18px;
                line-height: 21px;
                margin-bottom: 15px;
            }
            &__desc {
                font-size: 16px;
                margin-bottom: 30px;
            }
        }
    }
}

@media (max-width: $resp768) {
    .index4 {
        &__block {
            &__img {
                display: none;
            }
            &__content {
                max-width: 100%;
                padding-right: 10px;
                padding-left: 10px;
            }
        }
    }
}