body {
    font-family: 'Roboto';
    &.mobile_menu--open {
        .mobile__menu {
            transform: none;
            opacity: 1;
        }
        .navbar {
            box-shadow: none;
        }
    }
    &.is--overlay {
        overflow: hidden;
        #overlay {
            display: block;
        }
    }
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

img,
svg {
    vertical-align: middle;
}

img {
    width: 100%;
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

#overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(#000, .5);
    transition: .25s all ease;
    left: 0;
    top: 0;
    z-index: 5000;
    display: none;
    cursor: pointer;
}