.container {
    max-width: $grid-width;
    padding: 0 30px;
    width: 100%;
    margin: 0 auto;
}

.heading {
    text-align: center;
    color: $dark;
    font-size: 40px;
    font-family: 'Roboto Slab';
    font-weight: bold;
    margin-bottom: 60px;
}