.container {
    max-width: $grid-width;
    padding: 0 30px;
    width: 100%;
    margin: 0 auto;
}

.heading {
    text-align: center;
    color: $dark;
    font-size: 40px;
    font-family: 'Roboto Slab';
    font-weight: bold;
    margin-bottom: 60px;
    &.is--subheading {
        margin-bottom: 20px;
    }
}

.subheading {
    font-weight: 300;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    color: $dark;
    width: 100%;
    font-size: 18px;
    line-height: 21px;
}

@media (max-width: $resp768) {
    .heading {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .subheading {
        font-size: 16px;
        max-width: 450px;
    }
}